@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.header {
  background-color: white;
  padding: 16px 0;
  width: 100%;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.header .logo_desktop {
  display: none;
}
.header .logo_mobile {
  display: block;
}
.header_nav,
.header .btn_login,
.header .btn_trial {
  display: none;
}
.header .theme {
  background: none;
  border: none;
  margin-left: 100px;
}
.header .theme .theme-white {
  display: none;
}
.header .theme .theme-dark {
  display: block;
  width: 24px;
}
.header_burger {
  background: none;
  border: none;
}
.header_burger img {
  width: 24px;
}
@media (min-width: 768px) {
  .header {
    background-color: hsl(205, 86%, 14%);
    border-bottom: none;
    width: 1240px;
    height: 86px;
    margin: 50px auto 0;
    border-radius: 12px;
    display: flex;
    align-items: center;
  }
  .header_wrapper {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo_mobile {
    display: none;
  }
  .header .logo_desktop {
    display: block;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
  }
  .header_nav {
    display: block;
  }
  .header_nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    margin-left: 200px;
  }
  .header_nav ul a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
  }
  .header .btn_login {
    display: block;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
  }
  .header .btn_trial {
    display: block;
    background: #fff;
    color: hsl(0, 0%, 0%);
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
  }
  .header .theme .theme_dark {
    display: none;
  }
  .header .theme .theme_white {
    display: block;
    width: 24px;
    margin-left: 100px;
  }
  .header_actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .header_burger {
    display: none;
  }
}
.header .header_container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  padding: 40px 0;
  text-align: center;
}
.hero_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.hero_content .hero_title {
  display: none;
}
.hero_content .hero_title_mobile {
  font-size: 32px;
  font-weight: 400;
  color: #183B56;
  line-height: 40px;
  letter-spacing: 0.2 px;
}
.hero_content .hero_text {
  font-size: 16px;
  color: #000000;
  margin: 14px 0;
  line-height: 28px;
  letter-spacing: 0;
  padding: 0 24px;
}
.hero_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.hero_btns .btn_get {
  background-color: #052A44;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  width: 105px;
  height: 37px;
}
.hero_btns .btn_play {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.hero_btns .btn_play img {
  width: 17px;
}
.hero_users {
  display: none;
}
.hero_img_block {
  position: relative;
  margin-top: 24px;
  width: 252px;
  height: 231px;
}
.hero_img_block::before {
  content: "";
  position: absolute;
  width: 217.57px;
  height: 175.43px;
  background-color: #e8db84;
  top: 25.8px;
  left: 35.26px;
  border-radius: 8.6px;
  z-index: 1;
}
.hero_img_block .main_hero_img {
  width: 181.02px;
  height: 200.37px;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 35px;
  z-index: 2;
}
.hero_img_block .stat_card {
  position: absolute;
  background: #fff;
  border-radius: 6.22px;
  box-shadow: 0.78px 1.55px 14.76px 0px rgba(0, 0, 0, 0.0784313725);
  z-index: 5;
  padding: 3.89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.hero_img_block .stat_card p {
  font-size: 5.54px;
  font-weight: 700;
  color: #1E2A39;
  margin: 0;
}
.hero_img_block .stat_card span {
  font-size: 4.43px;
  color: #2E2E2E;
}
.hero_img_block .stat_card img {
  width: 12.99px;
  height: 12.97px;
  display: block;
}
.hero_img_block .stat_card .member_icons {
  display: flex;
  justify-content: center;
}
.hero_img_block .stat_card .member_icons img {
  width: 9.71px;
  height: 9.71px;
  border-radius: 50%;
  margin-left: -5px;
}
.hero_img_block .stat_card .member_icons img:first-child {
  margin-left: 0;
}
.hero_img_block .card_happy {
  width: 61.49px;
  height: 45.58px;
  top: 15%;
  left: 2%;
}
.hero_img_block .card_members {
  width: 61.92px;
  height: 48.16px;
  top: 39%;
  left: 2%;
}
.hero_img_block .card_joined {
  width: 61.92px;
  height: 48.16px;
  bottom: 16%;
  left: 2%;
}
@media (min-width: 768px) {
  .hero {
    padding: 80px 0;
    text-align: left;
  }
  .hero_wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
  }
  .hero_content {
    flex: 1;
    padding-right: 50px;
  }
  .hero_content .hero_title_mobile {
    display: none;
  }
  .hero_content .hero_title {
    display: block;
    font-size: 48px;
    color: #000000;
  }
  .hero_content .hero_title span {
    color: #e8db84;
  }
  .hero_content .hero_text {
    padding: 0;
    max-width: 579px;
    font-size: 18px;
  }
  .hero_btns {
    justify-content: flex-start;
    gap: 42px;
  }
  .hero_btns .btn_get {
    width: 179px;
    height: 54px;
    padding: 15px 43px;
    font-size: 16px;
    border-radius: 8px;
  }
  .hero_btns .btn_play {
    font-size: 16px;
    color: #000000;
    font-style: bold;
    font-weight: 600;
  }
  .hero_btns .btn_play img {
    width: 17px;
    height: 17px;
  }
  .hero_users {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    gap: 12px;
  }
  .hero_users .user_avatars {
    display: flex;
  }
  .hero_users .user_avatars img {
    width: 52.35px;
    margin-left: -20px;
  }
  .hero_users .user_avatars img:first-child {
    margin-left: 0;
  }
  .hero_users span {
    font-weight: 500;
    font-size: 13.09px;
    color: #000000;
  }
  .hero_img_block {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .hero_img_block::before {
    content: "";
    position: absolute;
    width: 506px;
    height: 408px;
    border-radius: 20px;
    top: -60px;
    left: 80px;
    z-index: 1;
  }
  .hero_img_block .main_hero_img {
    position: relative;
    z-index: 2;
    width: 421px;
    height: 466px;
    top: -120px;
    left: 80px;
  }
  .hero_img_block .stat_card {
    position: absolute;
    border-radius: 13.74px;
    box-shadow: 1.72px 3.43px 32.62px 0px rgba(0, 0, 0, 0.0784313725);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero_img_block .stat_card p {
    font-size: 12.88px;
    font-weight: 700;
    color: #1E2A39;
  }
  .hero_img_block .stat_card span {
    font-size: 10.3px;
    color: #2E2E2E;
  }
  .hero_img_block .stat_card img {
    width: 22.59px;
    height: 22.59px;
    display: block;
  }
  .hero_img_block .stat_card .member_icons {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .hero_img_block .stat_card .member_icons img {
    width: 22.59px;
    height: 22.59px;
    border-radius: 50%;
    margin-left: -5px;
  }
  .hero_img_block .stat_card .member_icons img:first-child {
    margin-left: 0;
  }
  .hero_img_block .card_happy {
    width: 143px;
    height: 106px;
    top: -15%;
    left: 2%;
  }
  .hero_img_block .card_members {
    width: 144px;
    height: 112px;
    top: 39%;
    left: 2%;
  }
  .hero_img_block .card_joined {
    width: 144px;
    height: 112px;
    bottom: -45%;
    left: 2%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
