@use 'abstracts/variables.scss' as *;

.header {
    background-color: $bg_mobile;
    padding: 16px 0;
    width: 100%;


    &_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .logo_desktop {
        display: none;
    }

    .logo_mobile {
        display: block;
    }

    &_nav,
    .btn_login,
    .btn_trial {
        display: none;
    }



    .theme {
        background: none;
        border: none;
        margin-left: 100px;

        .theme-white {
            display: none;
        }

        .theme-dark {
            display: block;
            width: 24px;

            
        }
    }

    &_burger {
        background: none;
        border: none;

        img {
            width: 24px;
        }
    }

    //   desktop version
    @media (min-width: 768px) {
        background-color: $bg_desktop;
        border-bottom: none;
        width: 1240px;
        height: 86px;
        margin: 50px auto 0;
        border-radius: 12px;
        display: flex;
        align-items: center;

        &_wrapper {
            width: 100%;
            padding: 0 24px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .logo_mobile {
            display: none;
        }

        .logo_desktop {
            display: block;
            color: $header_txt_color;
            font-weight: 500;
            font-size: 20px;
            text-decoration: none;
        }

        &_nav {
            display: block;

            ul {
                display: flex;
                gap: 35px;
                list-style: none;
                margin-left: 200px;

                a {
                    color: $header_txt_color;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 400;
                    letter-spacing: 0;
                }
            }
        }

        .btn_login {
            display: block;
            color: $header_txt_color;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
        }

        .btn_trial {
            display: block;
            background: #fff;
            color: hsla(0, 0%, 0%, 1);
            padding: 10px 20px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
            margin-left: 8px;
        }

        .theme {
            .theme_dark {
                display: none;
            }

            .theme_white {
                display: block;
                width: 24px;
                margin-left: 100px;
            }
        }

        &_actions {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        &_burger {
            display: none;
        }
    }

    .header_container {
        max-width: 1240px;
        margin: 0 auto;
        width: 100%;
    }
}