@use 'abstracts/variables.scss' as *;
@use 'header';
@use 'hero';
@use 'about';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  overflow-x: hidden;
}

