@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.card-section .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 1.31px 2.62px 18.34px 0px rgba(0, 0, 0, 0.0784313725);
  margin-bottom: 30px;
}
.card-section .card-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}
.card-section .customer-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}
.card-section-title {
  color: #183B56;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}
.card-section-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #5A7184;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
}
.card-role {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 9px;
  line-height: 15.72px;
  letter-spacing: 0px;
}

.button-primary {
  width: 89px;
  height: 37px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  background-color: #052A44;
  color: white;
  margin-bottom: 30px;
}

.contact-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}
.contact-form-section {
  background-color: #e8db84;
  border-radius: 10px;
  padding-top: 24px;
  padding-right: 13px;
  padding-bottom: 24px;
  padding-left: 13px;
}
.contact-form-title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  text-align: center;
}
.contact-form-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.contact-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: none;
  border-radius: 8px;
  width: 90%;
  padding: 15px;
}
.contact-form-input::placeholder {
  color: #1e1e1e;
  opacity: 1;
}
.contact-form-textarea {
  width: 90%;
  height: 150px;
}

.primary-button {
  width: 176px;
  height: 54px;
  border-radius: 8px;
  padding-top: 15px;
  padding-right: 43px;
  padding-bottom: 15px;
  padding-left: 43px;
  background-color: #052A44;
  color: white;
}

.footer-title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
