@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-main: 'Poppins', sans-serif;
$bg_mobile: white;
$bg_desktop: hsla(205, 86%, 14%, 1);
$header_txt_color: hsla(0, 0%, 100%, 1);

$color-blue-1: #052A44;
$color-blue-2: #183B56;
$color-blue-3: #5A7184;
$color-yellow: #e8db84;

$color-button-bg: $color-blue-1;
$color-button-fg: white;
$color-title: $color-blue-2;
$color-text: $color-blue-3;
$color-bg-secondary: $color-yellow;

$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 700;

$font-size-xsmall: 9px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 28px;