@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-main: 'Poppins', sans-serif;
$bg_mobile: white;
$bg_desktop: hsla(205, 86%, 14%, 1);
$header_txt_color: hsla(0, 0%, 100%, 1)